@model IEnumerable<BadWebServer.Data.Item>
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-12 col-md-6">
        <table class="table table-striped">
            <tbody>
                @foreach (BadWebServer.Data.Item i in Model)
                {
                <tr>
                    <td>
                        @i.Value
                    </td>
                    <td>
                        <form method="POST" action="/Home/Delete">
                            <input type="hidden" value="@i.Value" name="name" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        
    

    </div>
    <div class="col-12 col-md-6">
        <form method="POST" action="/Home/Create">
            <div class="form-group">
                <label for="name">Item</label>
                <input type="text" name="name" class="form-control" />
            </div>
            <input type="submit" class="btn btn-default" value="Add" />
        </form>

    </div>
</div>

